

<div class="container bg-overlay">
	<div class="row text-center">
		<h1>This is a beautiful background image<br> with a transparent overlay.</h1>
        <h4>You can just use the "<strong>.bg-overlay</strong>" class on any container/element,<br>
        and specify the image you want to use and its height.</h4>
        <br><br>
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
	</div>
</div>

<br><br>

<div class="container bg-no-overlay">
    <div class="row text-center">
		<h1>This is a background image<br> with NO overlay.</h1>
        <br><br>
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
	</div>
</div>